body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #007bff; /* Cor do título */
    font-size: 24px;
    text-align: center;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-box input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease; /* Transição de cor */
}

.login-box input[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.login-box p {
    text-align: center;
    margin-top: 15px;
    color: #555; /* Cor do texto do link */
}

.login-box p a {
    color: #007bff; /* Cor do link */
    text-decoration: none;
}

.login-box p a:hover {
    text-decoration: underline;
}